ConnectionStrings__DefaultConnection=Server=(localdb)\MSSQLLocalDB;Database=MuseoDb;Trusted_Connection=True;TrustServerCertificate=True;

Jwt__Key=YOUR_LONG_SECRET_JWT_KEY
Jwt__Issuer=MuseoAPI
Jwt__Audience=MuseoAPIUsers
JWT_EXPIRATION_HOURS=2

MINIO_ROOT_USER=YOUR_MINIO_USERNAME
MINIO_ROOT_PASSWORD=YOUR_MINIO_PASSWORD