ConnectionStrings__DefaultConnection=Server=(localdb)\MSSQLLocalDB;Database=MuseoDb;Trusted_Connection=True;TrustServerCertificate=True;

Jwt__Key=YOUR_SECRET_KEY_HERE
Jwt__Issuer=MuseoAPI
Jwt__Audience=MuseoAPIUsers

JWT_EXPIRATION_HOURS=2