USE [master]
GO
/****** Object:  Database [MuseoDb]    Script Date: 7/8/2026 10:02:59 πμ ******/
CREATE DATABASE [MuseoDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MuseoDb', FILENAME = N'C:\Users\ellie\MuseoDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MuseoDb_log', FILENAME = N'C:\Users\ellie\MuseoDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MuseoDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MuseoDb]
GO
/****** Object:  Table [dbo].[Announcements]    Script Date: 7/8/2026 10:03:00 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Announcements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Visible] [bit] NOT NULL,
	[StartDate] [datetime2](7) NULL,
	[EndDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 7/8/2026 10:03:00 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exhibits]    Script Date: 7/8/2026 10:03:00 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exhibits](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Year] [int] NOT NULL,
	[ImageUrl] [nvarchar](300) NULL,
	[CategoryId] [int] NULL,
	[Visible] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MediaItems]    Script Date: 7/8/2026 10:03:00 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MediaItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ExhibitId] [int] NOT NULL,
	[FileName] [nvarchar](150) NOT NULL,
	[FileType] [nvarchar](50) NOT NULL,
	[Url] [nvarchar](300) NOT NULL,
	[Size] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Museums]    Script Date: 7/8/2026 10:03:00 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Museums](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Location] [nvarchar](200) NULL,
	[OpeningHours] [nvarchar](100) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[Website] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/8/2026 10:03:00 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](300) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Announcements] ON 

INSERT [dbo].[Announcements] ([Id], [Title], [Content], [CreatedAt], [Visible], [StartDate], [EndDate]) VALUES (1, N'New Exhibition Opening', N'A new temporary exhibition about the Acropolis history is now open.', CAST(N'2026-07-06T19:17:07.557' AS DateTime), 0, NULL, NULL)
INSERT [dbo].[Announcements] ([Id], [Title], [Content], [CreatedAt], [Visible], [StartDate], [EndDate]) VALUES (2, N'Educational Programs', N'New educational programs for schools are available this month.', CAST(N'2026-07-06T19:17:07.557' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[Announcements] ([Id], [Title], [Content], [CreatedAt], [Visible], [StartDate], [EndDate]) VALUES (3, N'Holiday Opening Hours', N'The museum will operate with special opening hours during public holidays.', CAST(N'2026-07-06T19:17:07.557' AS DateTime), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Announcements] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name]) VALUES (1, N'Sculptures')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (2, N'Pottery')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (3, N'Architectural Elements')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Exhibits] ON 

INSERT [dbo].[Exhibits] ([Id], [Title], [Description], [Year], [ImageUrl], [CategoryId], [Visible]) VALUES (1, N'Caryatid', N'description', -420, N'/images/caryatid.jpg', 1, 0)
INSERT [dbo].[Exhibits] ([Id], [Title], [Description], [Year], [ImageUrl], [CategoryId], [Visible]) VALUES (2, N'Kritios Boy', N'Marble statue marking the transition to Classical Greek sculpture.', -480, N'/images/kritios-boy.jpg', 1, 1)
INSERT [dbo].[Exhibits] ([Id], [Title], [Description], [Year], [ImageUrl], [CategoryId], [Visible]) VALUES (3, N'Moschophoros', N'Archaic statue of a man carrying a calf.', -570, N'/images/moschophoros.jpg', 1, 1)
SET IDENTITY_INSERT [dbo].[Exhibits] OFF
GO
SET IDENTITY_INSERT [dbo].[MediaItems] ON 

INSERT [dbo].[MediaItems] ([Id], [ExhibitId], [FileName], [FileType], [Url], [Size]) VALUES (1, 1, N'image_test.jpg', N'image/jpeg', N'exhibits/1/96ff9709-5a97-493e-b7cb-69f8cae4ad2e.jpg', 89240)
SET IDENTITY_INSERT [dbo].[MediaItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Museums] ON 

INSERT [dbo].[Museums] ([Id], [Name], [Description], [Location], [OpeningHours], [Phone], [Email], [Website]) VALUES (1, N'Acropolis Museum', N'The Acropolis Museum is one of the most important archaeological museums in Greece. It houses artifacts from the Acropolis of Athens, including sculptures, pottery, inscriptions, and objects from the Archaic, Classical, and Roman periods.', N'15 Dionysiou Areopagitou Street, Athens, Greece', N'09:00 - 17:00', N'+30 210 9000900', N'info@theacropolismuseum.gr', N'https://www.theacropolismuseum.gr')
SET IDENTITY_INSERT [dbo].[Museums] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [Role]) VALUES (1, N'admin', N'$2a$11$FFPLoV.GuPKEX0E2JP2nrOgwTfoHeEjIB90Vdp8X5384vdzKdvS1O', N'Admin')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E461BAA6BB]    Script Date: 7/8/2026 10:03:00 πμ ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Announcements] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Announcements] ADD  CONSTRAINT [DF_Announcements_Visible]  DEFAULT ((1)) FOR [Visible]
GO
ALTER TABLE [dbo].[Exhibits] ADD  CONSTRAINT [DF_Exhibits_Visible]  DEFAULT ((1)) FOR [Visible]
GO
ALTER TABLE [dbo].[MediaItems] ADD  DEFAULT ((0)) FOR [Size]
GO
ALTER TABLE [dbo].[Exhibits]  WITH CHECK ADD  CONSTRAINT [FK_Exhibits_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Exhibits] CHECK CONSTRAINT [FK_Exhibits_Categories]
GO
ALTER TABLE [dbo].[MediaItems]  WITH CHECK ADD  CONSTRAINT [FK_MediaItems_Exhibits] FOREIGN KEY([ExhibitId])
REFERENCES [dbo].[Exhibits] ([Id])
GO
ALTER TABLE [dbo].[MediaItems] CHECK CONSTRAINT [FK_MediaItems_Exhibits]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateAnnouncement]    Script Date: 7/8/2026 10:03:00 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_CreateAnnouncement]
    @Title NVARCHAR(150),
    @Content NVARCHAR(MAX),
    @Visible BIT,
    @StartDate DATETIME2 = NULL,
    @EndDate DATETIME2 = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Announcements
    (
        Title,
        Content,
        Visible,
        StartDate,
        EndDate
    )
    VALUES
    (
        @Title,
        @Content,
        @Visible,
        @StartDate,
        @EndDate
    );

    SELECT CAST(SCOPE_IDENTITY() AS INT);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateCategory]    Script Date: 7/8/2026 10:03:00 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_CreateCategory]
    @Name NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Categories (Name)
    VALUES (@Name);

    SELECT CAST(SCOPE_IDENTITY() AS INT);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateExhibit]    Script Date: 7/8/2026 10:03:00 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CreateExhibit]
    @Title NVARCHAR(200),
    @Description NVARCHAR(MAX),
    @Year INT,
    @ImageUrl NVARCHAR(500),
    @CategoryId INT,
    @Visible BIT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Exhibits
        (Title, Description, Year, ImageUrl, CategoryId, Visible)
    VALUES
        (@Title, @Description, @Year, @ImageUrl, @CategoryId, @Visible);

    SELECT CAST(SCOPE_IDENTITY() AS INT);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateMediaItem]    Script Date: 7/8/2026 10:03:00 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CreateMediaItem]
    @ExhibitId INT,
    @FileName NVARCHAR(150),
    @FileType NVARCHAR(50),
    @Url NVARCHAR(300),
    @Size BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.MediaItems
    (
        ExhibitId,
        FileName,
        FileType,
        Url,
        [Size]
    )
    VALUES
    (
        @ExhibitId,
        @FileName,
        @FileType,
        @Url,
        @Size
    );

    SELECT CAST(SCOPE_IDENTITY() AS INT);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteAnnouncement]    Script Date: 7/8/2026 10:03:00 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_DeleteAnnouncement]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Announcements
    WHERE Id = @Id;

    SELECT @@ROWCOUNT;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteCategory]    Script Date: 7/8/2026 10:03:00 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteCategory]
    @Id INT,
    @Force BIT = 0
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    IF NOT EXISTS
    (
        SELECT 1
        FROM Categories
        WHERE Id = @Id
    )
    BEGIN
        SELECT -2;
        RETURN;
    END;

    IF EXISTS
    (
        SELECT 1
        FROM Exhibits
        WHERE CategoryId = @Id
    )
    AND @Force = 0
    BEGIN
        SELECT -1;
        RETURN;
    END;

    BEGIN TRANSACTION;

    BEGIN TRY
        IF @Force = 1
        BEGIN
            UPDATE Exhibits
            SET CategoryId = NULL
            WHERE CategoryId = @Id;
        END;

        DELETE FROM Categories
        WHERE Id = @Id;

        COMMIT TRANSACTION;

        SELECT 1;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        THROW;
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteExhibit]    Script Date: 7/8/2026 10:03:00 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_DeleteExhibit]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Exhibits
    WHERE Id = @Id;

    SELECT @@ROWCOUNT;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteMediaItem]    Script Date: 7/8/2026 10:03:00 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_DeleteMediaItem]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM MediaItems
    WHERE Id = @Id;

    SELECT @@ROWCOUNT;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllAnnouncements]    Script Date: 7/8/2026 10:03:00 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetAllAnnouncements]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        Id,
        Title,
        Content,
        CreatedAt,
        Visible,
        StartDate,
        EndDate
    FROM Announcements
    ORDER BY CreatedAt DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllCategories]    Script Date: 7/8/2026 10:03:00 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllCategories]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM Categories;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllExhibits]    Script Date: 7/8/2026 10:03:00 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllExhibits]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM Exhibits
    WHERE Visible = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllExhibitsForAdmin]    Script Date: 7/8/2026 10:03:00 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllExhibitsForAdmin]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM Exhibits;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllMediaItems]    Script Date: 7/8/2026 10:03:00 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetAllMediaItems]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        Id,
        ExhibitId,
        FileName,
        FileType,
        Url
    FROM MediaItems;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAnnouncementById]    Script Date: 7/8/2026 10:03:00 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetAnnouncementById]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        Id,
        Title,
        Content,
        CreatedAt,
        Visible,
        StartDate,
        EndDate
    FROM Announcements
    WHERE Id = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCategoryById]    Script Date: 7/8/2026 10:03:00 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetCategoryById]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT Id, Name
    FROM Categories
    WHERE Id = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetExhibitById]    Script Date: 7/8/2026 10:03:00 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetExhibitById]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM Exhibits
    WHERE Id = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetExhibitsByCategoryId]    Script Date: 7/8/2026 10:03:00 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetExhibitsByCategoryId]
    @CategoryId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        Id,
        Title,
        Description,
        Year,
        CategoryId,
        ImageUrl
    FROM Exhibits
    WHERE CategoryId = @CategoryId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMediaByExhibitId]    Script Date: 7/8/2026 10:03:00 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetMediaByExhibitId]
    @ExhibitId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM MediaItems
    WHERE ExhibitId = @ExhibitId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMediaItemById]    Script Date: 7/8/2026 10:03:00 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetMediaItemById]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        Id,
        ExhibitId,
        FileName,
        FileType,
        Url
    FROM MediaItems
    WHERE Id = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMuseum]    Script Date: 7/8/2026 10:03:00 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetMuseum]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 1 *
    FROM Museums;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserByUsername]    Script Date: 7/8/2026 10:03:00 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetUserByUsername]
    @Username NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM Users
    WHERE Username = @Username;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetVisibleAnnouncements]    Script Date: 7/8/2026 10:03:00 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetVisibleAnnouncements]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        Id,
        Title,
        Content,
        CreatedAt,
        Visible,
        StartDate,
        EndDate
    FROM Announcements
    WHERE Visible = 1
      AND (StartDate IS NULL OR StartDate <= GETDATE())
      AND (EndDate IS NULL OR EndDate >= GETDATE())
    ORDER BY CreatedAt DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetVisibleExhibits]    Script Date: 7/8/2026 10:03:00 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetVisibleExhibits]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM Exhibits
    WHERE Visible = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateAnnouncement]    Script Date: 7/8/2026 10:03:00 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_UpdateAnnouncement]
    @Id INT,
    @Title NVARCHAR(150),
    @Content NVARCHAR(MAX),
    @Visible BIT,
    @StartDate DATETIME2 = NULL,
    @EndDate DATETIME2 = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Announcements
    SET
        Title = @Title,
        Content = @Content,
        Visible = @Visible,
        StartDate = @StartDate,
        EndDate = @EndDate
    WHERE Id = @Id;

    SELECT @@ROWCOUNT;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateCategory]    Script Date: 7/8/2026 10:03:00 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_UpdateCategory]
    @Id INT,
    @Name NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Categories
    SET Name = @Name
    WHERE Id = @Id;

    SELECT @@ROWCOUNT;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateExhibit]    Script Date: 7/8/2026 10:03:00 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateExhibit]
    @Id INT,
    @Title NVARCHAR(200),
    @Description NVARCHAR(MAX),
    @Year INT,
    @ImageUrl NVARCHAR(500),
    @CategoryId INT,
    @Visible BIT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Exhibits
    SET
        Title = @Title,
        Description = @Description,
        Year = @Year,
        ImageUrl = @ImageUrl,
        CategoryId = @CategoryId,
        Visible = @Visible
    WHERE Id = @Id;

    SELECT @@ROWCOUNT;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateMediaItem]    Script Date: 7/8/2026 10:03:00 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateMediaItem]
    @Id INT,
    @ExhibitId INT,
    @FileName NVARCHAR(150),
    @FileType NVARCHAR(50),
    @Url NVARCHAR(300),
    @Size BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE MediaItems
    SET
        ExhibitId = @ExhibitId,
        FileName = @FileName,
        FileType = @FileType,
        Url = @Url,
        Size = @Size
    WHERE Id = @Id;

    SELECT @@ROWCOUNT;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateMuseum]    Script Date: 7/8/2026 10:03:00 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_UpdateMuseum]
    @Name NVARCHAR(150),
    @Description NVARCHAR(MAX),
    @Location NVARCHAR(200),
    @OpeningHours NVARCHAR(100),
    @Phone NVARCHAR(50),
    @Email NVARCHAR(100),
    @Website NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Museums
    SET
        Name = @Name,
        Description = @Description,
        Location = @Location,
        OpeningHours = @OpeningHours,
        Phone = @Phone,
        Email = @Email,
        Website = @Website;

    SELECT @@ROWCOUNT;
END;
GO
USE [master]
GO
