USE [master]
GO
/****** Object:  Database [MuseoDb]    Script Date: 8/7/2026 3:35:19 μμ ******/
CREATE DATABASE [MuseoDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MuseoDb', FILENAME = N'C:\Users\ellie\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\MuseoDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MuseoDb_log', FILENAME = N'C:\Users\ellie\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\MuseoDb.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MuseoDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MuseoDb]
GO
/****** Object:  Table [dbo].[Announcements]    Script Date: 8/7/2026 3:35:19 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Announcements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 8/7/2026 3:35:20 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exhibits]    Script Date: 8/7/2026 3:35:20 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exhibits](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Year] [int] NOT NULL,
	[ImageUrl] [nvarchar](300) NULL,
	[CategoryId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MediaItems]    Script Date: 8/7/2026 3:35:20 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MediaItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ExhibitId] [int] NOT NULL,
	[FileName] [nvarchar](150) NOT NULL,
	[FileType] [nvarchar](50) NOT NULL,
	[Url] [nvarchar](300) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Museums]    Script Date: 8/7/2026 3:35:20 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Museums](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Location] [nvarchar](200) NULL,
	[OpeningHours] [nvarchar](100) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[Website] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/7/2026 3:35:20 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](300) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Announcements] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Exhibits]  WITH CHECK ADD  CONSTRAINT [FK_Exhibits_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Exhibits] CHECK CONSTRAINT [FK_Exhibits_Categories]
GO
ALTER TABLE [dbo].[MediaItems]  WITH CHECK ADD  CONSTRAINT [FK_MediaItems_Exhibits] FOREIGN KEY([ExhibitId])
REFERENCES [dbo].[Exhibits] ([Id])
GO
ALTER TABLE [dbo].[MediaItems] CHECK CONSTRAINT [FK_MediaItems_Exhibits]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateAnnouncement]    Script Date: 8/7/2026 3:35:20 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CreateAnnouncement]
    @Title NVARCHAR(150),
    @Content NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Announcements (Title, Content)
    VALUES (@Title, @Content);

    SELECT CAST(SCOPE_IDENTITY() AS INT);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateExhibit]    Script Date: 8/7/2026 3:35:20 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CreateExhibit]
    @Title NVARCHAR(200),
    @Description NVARCHAR(MAX),
    @Year INT,
    @ImageUrl NVARCHAR(500),
    @CategoryId INT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Exhibits
        (Title, Description, Year, ImageUrl, CategoryId)
    VALUES
        (@Title, @Description, @Year, @ImageUrl, @CategoryId);

    SELECT CAST(SCOPE_IDENTITY() AS INT);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateMediaItem]    Script Date: 8/7/2026 3:35:20 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CreateMediaItem]
    @ExhibitId INT,
    @FileName NVARCHAR(150),
    @FileType NVARCHAR(50),
    @Url NVARCHAR(300)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO MediaItems (ExhibitId, FileName, FileType, Url)
    VALUES (@ExhibitId, @FileName, @FileType, @Url);

    SELECT CAST(SCOPE_IDENTITY() AS INT);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteAnnouncement]    Script Date: 8/7/2026 3:35:20 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteAnnouncement]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Announcements
    WHERE Id = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteExhibit]    Script Date: 8/7/2026 3:35:20 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteExhibit]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Exhibits
    WHERE Id = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllAnnouncements]    Script Date: 8/7/2026 3:35:20 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllAnnouncements]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM Announcements
    ORDER BY CreatedAt DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllCategories]    Script Date: 8/7/2026 3:35:20 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllCategories]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM Categories;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllExhibits]    Script Date: 8/7/2026 3:35:20 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllExhibits]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM Exhibits;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetExhibitById]    Script Date: 8/7/2026 3:35:20 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetExhibitById]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM Exhibits
    WHERE Id = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMediaByExhibitId]    Script Date: 8/7/2026 3:35:20 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetMediaByExhibitId]
    @ExhibitId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM MediaItems
    WHERE ExhibitId = @ExhibitId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMuseum]    Script Date: 8/7/2026 3:35:20 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetMuseum]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 1 *
    FROM Museums;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserByUsername]    Script Date: 8/7/2026 3:35:20 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetUserByUsername]
    @Username NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM Users
    WHERE Username = @Username;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateExhibit]    Script Date: 8/7/2026 3:35:20 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateExhibit]
    @Id INT,
    @Title NVARCHAR(200),
    @Description NVARCHAR(MAX),
    @Year INT,
    @ImageUrl NVARCHAR(500),
    @CategoryId INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Exhibits
    SET
        Title = @Title,
        Description = @Description,
        Year = @Year,
        ImageUrl = @ImageUrl,
        CategoryId = @CategoryId
    WHERE Id = @Id;
END;
GO
USE [master]
GO
